// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$main-orange: rgb(255, 80, 0);
$main-blue: rgb(30, 172, 255);
$main-green: rgb(42, 157, 143);
$delph-orange: #FE5600;
$delph-blue: #74CEDE;
