#add-pet-message{
  transition: transform 1s;
}

#icon-welcome{
  // display: none;
  position: relative;
  margin-top: 20px;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  box-shadow: 0 2px 3px rgba(0,0,0,0.3);

  i{
    color: $delph-orange;
    font-size: 40px;
  }

  &:hover{
    cursor: pointer;
  }
}


