<%= render 'shared/navbar' %>

<div class="container centered-vertically">
  <% @videos.each do |video| %>
    <%= cl_video_tag(video.clip.key, controls: true, width: '80%', height: 300, background: 'black') %>
  <% end %>
</div>

<%= render 'shared/sidenav' %>

<div class="bottom-action-bar">
  <i id="options-menu" class="material-icons">dehaze</i>
  <!-- <i class="material-icons">add</i> -->
</div>

<%= render 'shared/video_btn' %>
