<div class="bottom-action-bar">
  <i id="options-menu" class="material-icons">dehaze</i>
  <%= link_to pet_stats_path(@pet) do  %>
    <i id="pie-chart-icon-bottom-bar" class="fas fa-chart-pie"></i>
  <% end %>
</div>

