<div class="navbar-tim">
  <div class="navbar-text">
    <div class="navbar-title">MY PETS</div>
  </div>
  <div class="navbar-logo-container centered-vertically">
    <%= image_tag "white_foot.png", alt: "alttext" %>
  </div>
  <div class="pet-avatar"></div>
</div>

<div class="container centered-vertically">
  <div class="pet-cards centered-vertically">
    <p class="blue-title" style="text-align: center">This functionality is coming soon!</p>
  </div>
</div>

<%= render 'shared/sidenav' %>

<div class="bottom-action-bar">
  <i id="options-menu" class="material-icons">dehaze</i>
</div>

<%= render 'shared/video_btn' %>
