<div class="orange-background">
  <div class="logo-container">
    <%= image_tag 'logo_white.png', alt: "alttext" %>
  </div>
  <div class="paws-container">
    <i id="paw-1" class="material-icons">pets</i>
    <i id="paw-2" class="material-icons">pets</i>
    <i id="paw-3" class="material-icons">pets</i>
    <i id="paw-4" class="material-icons">pets</i>
    <i id="paw-5" class="material-icons">pets</i>
    <i id="paw-6" class="material-icons">pets</i>
    <i id="paw-7" class="material-icons">pets</i>
    <i id="paw-8" class="material-icons">pets</i>
    <i id="paw-9" class="material-icons">pets</i>
    <i id="paw-10" class="material-icons">pets</i>
  </div>
  <div class="login-buttons-container">
    <%= link_to "LOGIN", new_user_session_path, class: "button-white waves-effect"  %>
    <%= link_to "NEW ACCOUNT", new_user_registration_path, class: "button-white waves-effect"  %>
    <% if user_signed_in? %>
    <%= link_to "Logout", destroy_user_session_path, method: :delete %>
    <% end %>
  </div>

</div>
