.pet-list-container{
  display: none;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 5;
  top: 0;
  left: 0;
}

.pet-list{
  position: absolute;
  background-color: white;
  box-shadow: 0 2px 3px rgba(0,0,0,0.3);
  right: 5px;
  top: 60px;
  border-radius: 8px;

  li{
    min-width: 10vw;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;

    a{
      color: black;
      padding: 10px;

      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 8px;

    }

    &:hover{
      background-color: $delph-blue;
      color: white;
    }
  }

}

#show-pet-list-trigger:hover{
  cursor: pointer;
}
