/* label color */
// .input-field label {
//  color: #000;
// }

/* label focus color */
// .input-field input[type=text]:focus + label {
//  color: #000;
// }

/* label underline focus color */

input#user_username:focus,input#user_email:focus,input#user_password:focus,input#user_password_confirmation:focus {
 border-bottom: 1px solid $delph-orange;
 box-shadow: 0 1px 0 0 $delph-orange;
}

// .form-group.string.required:focus{
//   border-bottom: 1px solid $delph-orange;
//   box-shadow: 0 1px 0 0 #000;

// }

#new_video{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;

  .video_pet_selected{
    margin: 50px 0;
  }

  #file-upload, label{
    display: none;
  }
}

#upload-progress{
  display: none;
}

// SIGN UP --------------------------------

#new_user{
  width: 80%;
}

#user_photo{
  display: none;
}

.icon-sign-up{
  position: relative;
  margin-top: 20px;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  box-shadow: 0 2px 3px rgba(0,0,0,0.3);

  #new-user-placeholder{
    color: $delph-orange;
    font-size: 40px;
  }

  #new-user-pic-button{
    position: absolute;
    top: 0;
    left: 70%;
    background-color: $delph-orange;

    &:hover{
      cursor: pointer;
    }
  }

  #valid-user-pic{
    position: absolute;
    top: 0;
    left: 70%;
    background-color: $delph-blue;
    display: none;
  }
}

//--------------------------------------------

// NEW PET------------------------------------
#new_pet{
  width: 80%;
}

#pet_photo{
  display: none;
}

.icon-new-pet{
  position: relative;
  margin-top: 20px;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  box-shadow: 0 2px 3px rgba(0,0,0,0.3);

  #new-pet-photo{
    color: $delph-orange;
    font-size: 40px;
  }

  #new-pet-photo-button{
    position: absolute;
    top: 0;
    left: 70%;
    background-color: $delph-orange;

    &:hover{
      cursor: pointer;
    }
  }

  #valid-pet-photo{
    position: absolute;
    top: 0;
    left: 70%;
    background-color: $delph-blue;
    display: none;
  }
}

.datepicker-date-display{
  background-color: $delph-orange;
}

.datepicker-table td.is-today{
  color: $delph-blue;
}


.datepicker-table td.is-selected{
  background-color: $delph-blue;
  color: white;
}

.datepicker-footer{
  .confirmation-btns{
    button{
      color: $delph-blue;

    }
  }
}

//--------------------------------------------

// EDIT PET PERSONALITY -----------------------

.edit_pet{
  width: 80%;
}

.icon-new-pet{
  img{
    height: 80px;
    width: 80px;
    border-radius: 50%;
  }
}

div.form-group.range.optional input{
  // margin: 10px 0;

}

input[type=range]::-webkit-slider-thumb {
  background: $delph-orange;
}


.range-lengend{
  display: flex;
  justify-content: space-between;
  align-items: center;

  p{
    // color: $delph-orange;
    font-size: 0.8rem;
    color: #9e9e9e;

  }
}


//--------------------------------------------

