.modal-video{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0, 0.5);

  .modal-video-content{
    background-color: white;
    border-radius: 16px;
    height: 80%;
    width: 80%;
    margin: 10%;

  }
}
