.navbar-tim{
  width: 100vw;
  height: 84px;
  background-color: $delph-orange;
  box-shadow: 0 2px 3px rgba(0,0,0,0.3);
  display: flex;
  align-items: center;
  justify-content: center;

  .navbar-text{
    height: 100%;
    width: 33.33%;
    color: white;
    padding: 10px;

    .navbar-title{
      font-size: 20px;
      font-weight: bold;

    }

    .navbar-pet-name{

    }

  }
  .navbar-logo-container{
    height: 100%;
    width: 33.33%;

    img{
      height: 80%;
    }
  }

  .pet-avatar{
    height: 100%;
    width: 29%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 10px;

    img{
      height: 50px;
      width: 50px;
      border-radius: 50%;
    }
  }
}





// .navbar-lewagon {
//   justify-content: space-between;
//   background: rgba(255,255,255,0);
//   z-index: 10;
// }

// .navbar-lewagon .navbar-collapse {
//   flex-grow: 0;
// }


// .navbar-lewagon .navbar-brand{
//   // width: 100px;
//   // height: 50px;
//   // overflow: hidden;
//   // display: flex;
//   // align-items: center;

//   img {
//     width: 100px;
//   }
// }


// .nav-wrapper{
//   background-color: $delph-orange;
// }
