.tim-sidenav-background{
  display: none;

  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;

  background-color: rgba(0,0,0, 0.5);
  width: 100%;
  height: 100%;
}


.tim-sidenav{
  z-index: 6;
  overflow-x: hidden;


  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;

  background-color: white;
  height: 100%;
  width: 0;

  // display: flex;
  // flex-direction: column;
  // align-items: center;

  box-shadow: 0 1px 3px rgba(0,0,0,0.12);

  transition: width 0.5s;

  .tim-sidenav-content-top{
    min-height: 20%;
    width: 100%;
    border-bottom: 1px solid rgb(230,230,230);

    .avatar-and-logo-container{
      display: flex;
      justify-content: space-around;
      align-items: center;
      height: 84px;
      width: 100%;


      .sidenav-avatar {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        // object-fit: contain;
        object-fit: cover;
      }

      .sidenav-logo{
        // height: 100%;
        width: 60%;


      }
    }

    .username-container{
      width: 100%;
      p{
        margin-left: 10%;
        font-weight: bold;
        color: rgb(117,117,117);

      }
    }

  }

  .tim-sidenav-content-mid{
    min-height: 40%;
    width: 100%;
    border-bottom: 1px solid rgb(230,230,230);

  }

  .tim-sidenav-content-bottom{
    // height: 33%;
    width: 100%;

  }

  .tim-sidenav-link{
    width: 100%;
    height: 42px;
    display: flex;
    align-items: center;
    // justify-content: center;
    color: rgb(117,117,117);
    padding-left: 8px;

    i{
      padding-right: 8px;
    }

    .fas{
      margin-left: 5px;
      margin-right: 5px;
    }

    &:hover{
      background-color: $delph-blue;
      color: white;
    }
  }

}
