.transversal-text{
  position: absolute;
  top: 80px;
  width: 80%;
  background: rgba(0,0,0,0.3);
  color: white;
  text-shadow: 0 2px 3px rgba(0,0,0,0.3);
  text-align: center;
  padding: 5px;

  strong{
    color: $delph-orange;
  }

}

.stat-lines-container{
  // height: calc(100vh - 84px - 56px - 80px);
  margin-bottom: 100px;
  margin-top: 56px;

}

.stat-line{
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  // margin: 20px 0 10px 0;
  margin: 20px 0;

  .stat-item{
    border-radius: 16px;
    padding: 5px;
    box-shadow: 0 2px 3px rgba(0,0,0,0.3);
    width: 30%;
    height: 80%;
    min-height: 145px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.5s;

    i{
      color: $delph-orange;
      font-size: 40px;
      margin-bottom: 10px;

    }

    p{
      color: $delph-orange;
      margin: 0;
      text-align: center;
    }

    .no-data{
      background-color: rgb(230,230,230);

    }

    &:hover{
      transform: scale(1.1);
    }



  }

  .unclickable{
    background-color: rgb(40,40,40);
    span{
      color: white;
      font-size: 10px;
    }
  }
}
