.video-cards{
  padding-top: 20px;
  padding-bottom: 100px;

}

.video-card{
  width: 80%;
  height: 40vh;
  border-radius: 16px;
  box-shadow: 0 2px 3px rgba(0,0,0,0.3);
  margin: 10px;
  // backface-visibility: hidden;
  transition: transform 0.5s;

  .video-wrap{
    height: 80%;

    video{
      border-radius: 16px 16px 0 0;
      width: 100%;
      background-color: black;
    }

  }

  .video-description{
    height: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    a{
      color: $delph-orange;
    }
  }


}


// .rotated{
//   transform: perspective(600px) rotateY(180deg);

// }
